XmlFile/Cars.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="BodyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="sedan"/>
			<xs:enumeration value="universal"/>
			<xs:enumeration value="hatchback"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TechnicalCondition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AfterTheCrash"/>
			<xs:enumeration value="New"/>
			<xs:enumeration value="Working"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Cars">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Car">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Id" type="xs:int" />
							<xs:element name="Brand" type="xs:string" />
							<xs:element name="Manufacturer" type="xs:string" />
							<xs:element name="Model" type="xs:string" />
							<xs:element name="BodyType" type="BodyType" />
							<xs:element name="Year" type="xs:int" />
							<xs:element name="VIN" type="xs:string" />
							<xs:element name="Color" type="xs:string" />
							<xs:element name="LicensePlate" type="xs:string" />
							<xs:element name="TechnicalCondition" type="TechnicalCondition" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>	
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>