XmlFile/Owners.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Owners">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Owner">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Id" type="xs:int" />
							<xs:element name="DriverLicenseNumber" type="xs:string" />
							<xs:element name="LastName" type="xs:string" />
							<xs:element name="FirstName" type="xs:string" />
							<xs:element name="MiddleName" type="xs:string" />
							<xs:element name="DateOfBirth" type="xs:dateTime" />
							<xs:element name="RegistrationAddress" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>