XmlFile/Registration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Registrations">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="Registration">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Id" type="xs:int" />
							<xs:element name="CarId" type="xs:int" />
							<xs:element name="OwnerId" type="xs:int" />
							<xs:element name="RegistrationDate" type="xs:dateTime" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>